@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{scroll-behavior: smooth;}

*{
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 20px; 
    font-weight: 400;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;      
}

nav{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 130px;
    position: fixed;    
    background-color: rgba(0, 0, 0, 0.712);
    
}
/* Section Home */
.home{
    background-image: url(../imgs/bg1.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Botôes */
.botaoAgendar{
    display: flex;
    width: 234px;
    height: 70px;    
    border: solid 1px rgb(255, 255, 255);
    box-shadow: 0px 0px 5.2px 2px #ffffff;
    font-weight: 600;
    font-size: 20px;
    text-align: center;       
    color: white;
    padding: 10px;
    transition: 0.2s;
    backdrop-filter: blur(8px);
}
.botaoAgendar:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 6px #ffffff;
}

.logo{
    margin: 300px 0px;
    width: 606px;
    height: 282px;
    border: solid 1px red;
    transform: scale(1.6);
   
    
}
/* Section Quem sou eu */
.quemsoueu{
    background-image: url(../imgs/bg2.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
/* Container de texto */
.textContainer{    
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* QUEM SOU EU */
.textContainer h1{    
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
}
/* Texto descritivo */
.textContainer p{    
    width: 500px;
    height: 650px;
    font-weight: 300;
    text-align: justify;
    word-spacing: ;
    line-height: 1.3;
    letter-spacing: 2px;
    font-size: 24px;  
}
/* Section Galeria */
.galeria{
    background-image: url(../imgs/bg3.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex; 
}

/* Container do feed do instagram */
.feedContainer{
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100vw;
}


@media only screen and (max-width: 414px){
html{
    font-size: 18px;
}
nav{
    
    height: 50px;
    column-gap: 30px;
}
/* Section Home */
.home{
    background-image: url(../imgs/Mbg1.png);
    background-size: 105%;     
}
/* Botôes */
.botaoAgendar{
    transform: scale(0.75);
}
.botaoAgendar:hover{
    transform: scale(0.9);
}

.logo{
    margin: 75px 0px;
    transform: scale(0.65);
    
}
/* Section Quem sou eu */
.quemsoueu{
    background-image: url(../imgs/Mbg2.png);
    background-size: 105%;  
}
/* Container de texto */
.textContainer{  
    width: 100vw;    
    justify-content: end;   
    padding-bottom: 20px;      
}
/* QUEM SOU EU */
.textContainer h1{    
    font-size: 25px;
}
/* Texto descritivo */
.textContainer p{
    width: 350px;
    height: 400px;
    font-weight: 300;
    text-align: justify;    
    line-height: 1;
    letter-spacing: 1px;
    font-size: 18px;  
}
/* Section Galeria */
.galeria{
    background-image: url(../imgs/Mbg3.png);    
    
}
.instagram-media{
    transform: scale(0.9);
}
}
 



