@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{scroll-behavior: smooth;}
main{flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.button{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: center;   
    color: white;
    border: solid 1px white;
    width: 109px;
    height: 28px;
    position: absolute;
    transform: translateY(240px);
    box-shadow: 0px 0px 5.2px 2px #ffffff;
    padding: 5px;
     
}
.button2{
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 12px;
        text-align: center;   
        color: white;
        border: solid 1px white;
        width: 109px;
        height: 28px;
        position: absolute;        
        translate: 207px 1695px;
        box-shadow: 0px 0px 5.2px 2px #ffffff;
        padding: 5px;
        
         
}
.button3{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: center;   
    color: white;
    border: solid 1px white;
    width: 109px;
    height: 28px;
    position: absolute;
    transform: translateY(3204px);
    box-shadow: 0px 0px 5.2px 2px #ffffff;
    padding: 5px;
     
}    
.background{
    position: absolute;
    width: 100%;
    height: 100;
    top:0;
    right: 0;
    left: 0;
    bottom:0;
    z-index: -1;
}
.logo{
    transform: translateY(70px);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 110px;       
}
.navbar{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;    
}

a{
    text-decoration: none;
    color: white;
      
}
.quemsoueu{
    
    width: 496px;
    height: 959px;
    translate: -628px 1635px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    position: absolute;
}
.titulo{
    text-align: center;
    font-weight: 300;
    font-size: 36px; 
}
.apresentacao{
    text-align: justify;
    font-weight: 200;
    font-size: 24px; 
}
@media(max-width:834px){
    .background{
        width: 100vh;
    }
    
    
}
 